@charset "UTF-8";
:root {
    --bg: #fcf7e6;
    --bgtext: #fff;
    --red: #c33;
    --blue: #006;
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
}
@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable-Italic.woff2") format("woff2");
}
@font-feature-values InterVariable {
    @character-variant {
        cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;
        cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;
        alt-1:            1; /* Alternate one */
        alt-3:            9; /* Flat-top three */
        alt-4:            2; /* Open four */
        alt-6:            3; /* Open six */
        alt-9:            4; /* Open nine */
        alt-l:            5; /* Lower-case L with tail */
        alt-u:            6; /* Simplified u 👎 */
        alt-ss:           7; /* Alternate German double s */
        alt-I:            8; /* Upper-case i with serif */
        alt-G:           10; /* Capital G with spur */
        alt-a:           11; /* Single-story a 👎 */
        alt-f:           12; /* Compact f 👎 */
        alt-t:           13; /* Compact t 👎 */
    }
    @styleset {
        ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;
        open-digits: 1;                /* Open digits */
        disambiguation: 2;             /* Disambiguation (with zero) */
        disambiguation-except-zero: 4; /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;    /* Round quotes &amp; commas */
        square-punctuation: 7;         /* Square punctuation */
        square-quotes: 8;              /* Square quotes */
        circled-characters: 5;         /* Circled characters */
        squared-characters: 6;         /* Squared characters */
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg);
}

.fonts-ok body {
    font-family: InterVariable;
    font-weight: 300;
    font-variant-alternates: character-variant(alt-1, alt-3, alt-4, alt-6, alt-9, alt-l, alt-I) styleset(round-quotes-and-commas, disambiguation);
}

.banner {
    display: flex;
}

a.brand {
    color: var(--blue);
    display: flex;
    text-decoration: none;
}

a.brand .name {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 95%;
}

a.brand .moto {
    line-height: 105%;
}


a.brand img {
    float: left;
    height: 5rem;
}

h1 {

}

h1.alt {

}